##############################################################
#
# List of approvers/reviewers for Clean-Dependency-Project/snakeyaml1-fnma
#
##############################################################
#
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

# These owners will be the default owners for everything in the repo.
* @rvema @johnmark @BrittanyIstenes
